root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,fs,vb}]
indent_style = space
indent_size = 4

[*.cs]
csharp_style_namespace_declarations = file_scoped:error
dotnet_sort_system_directives_first = true
dotnet_diagnostic.IDE0005.severity = warning
